/* *{
    margin: 0px;
    padding: 0px;
} */
.main{
    width: 500px;
    height: 540px;
    border: 10px solid rgb(0, 0, 0);
    margin: auto;
    background-color: rgb(62, 133, 255);
}
.white{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 62, 146);
    font-size: 5px;
    color: white;
    text-align: center;
    /* border: 2px solid rgb(255, 62, 146); */
}
.black{
    width: 50px;
    height: 50px;
    background-color: black;
    /* border: 2px solid black; */
}

.left{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 0, 0);
    float: left;
}
.right{
    width: 50px;
    height: 50px;
    float: right;
    background-color: rgb(85, 255, 0);
}
.first-row{
    width: 200px !important;
    border-spacing: 10px;
}


.inside{
    width: 200px;
    height: 100px;
    background-color: rgba(255, 62, 146, 0.5);
    /* opacity: 0.6; */
}